<h2> College name is:{{college}} </h2>
{% for i in list %}
<div> {{i}}</div>
{% endfor %}

        <title> Student Details</title>
    <body> 
        <h1> Students Details</h1>
    <table border="2" width="700">
    <tr>
        <th> Name of a student</th>
        <th>Subject </th>
        <th>Phone Number </th>
        <th> Address </th>
    </tr>
    <tr>
        <td> Binod Thapa </td>
        <td> Mathematics </td>
        <td> 9863230749 </td>
        <td> Alams Street </td>

    </tr>
    <tr>
        <td> Hare Alish Singh</td>
        <td> Science </td>
        <td> 9823234230</td>
        <td> Eishls Street </td>

    </tr>
    <tr>
        <td> John Tons</td>
        <td> Biology</td>
        <td> 423234523</td>
        <td> Islinway Street </td>
        </tr>
        </table>
    </body>

